.App {
    font-family: Helvetica, Arial, sans-serif;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    border: 1px solid rgb(252, 248, 248);
    border-radius: 10px;
    box-shadow: 5px 5px 8px 0px;
    background: linear-gradient(179.1deg, rgb(247, 238, 238) -1.9%, rgb(247, 202, 201) 44.9%, rgb(145, 168, 208) 96.1%);
  }
